@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #F5E3E0;
    font-family: Montserrat;
    font-size: 16px;
}

main {
    width: 80vw;
    margin: auto;
}

/* Header */

.container-fluid {
    padding: 4rem 4rem;
}


h1 {
    z-index: 99;
    background-image: url(imagenes/png/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: auto;
    text-indent: -400px;
    overflow: hidden;
}

header {
    background-color: #F43233;
    border-bottom: 1px solid #FFA1B5;
}

header .container-fluid {
    padding: 0;
}


.nav-item {
    padding: 0.8em;
}

.nav-link {
    color: #FFFFFF;
}

#imagen_fondo {
    background-image: url(imagenes/svg/imagen-medio-fondo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 1100px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFFFFF;
    font-weight: 600;
    background: none;
    text-decoration: underline;
}

.nav-link:hover {
    color: #86081D;
    font-weight: 500;
}

.navbar-toggler {
    color: transparent;
    border: none;
}

.navbar-toggler-icon {
    color: #FFFFFF;
    background: url(imagenes/png/menu-hamburguesa.png);
    background-size: 100%;
}


#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    z-index: 0;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 1400" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_325_1326)"><path d="M-20 -25H1456V573.29C1456 722.669 1319.84 758.041 1171.29 777.553C812.733 824.651 833.24 802.291 431.764 824.651C110.583 842.538 36.9397 984.019 -20 1053V-25Z" fill="%23F43233" stroke="%23FFA1B5" stroke-width="19"/></g><defs><clipPath id="clip0_325_1326"><rect width="1440" height="1068" fill="white"/></clipPath></defs></svg>') no-repeat center center;
    background-size: cover;
    overflow: visible;
}

#banner picture img {
    height: auto;
    width: 100%;
    max-height: 80vh;
}

img {
    max-width: 100%;
}

.columnas-banner {
    align-items: center;  
}

#texto-banner {
    height: auto;
    color: #F5E3E0;
}

#texto-banner h2 {
    font-weight: 600;
    margin-bottom: 24px;
    font-size: 32px;
}

#texto-banner p {
    margin-top: 8px;
    padding: 8px 0px 32px 0px;
    height: auto;
    font-weight: 400;
}

.columnas-banner img {
    filter: drop-shadow(2px 2px 18px rgba(0, 0, 0, 0.2)
    );
}

#texto-banner a {
    text-decoration: none;
    z-index: 0;
    color: #86081D;
    padding: 12px 16px;
    background-color: #F5E3E0;
    border-radius: 20px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#texto-banner a:hover {
    background-color: #FFA1B5;
}

#flores-arriba {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100vw;
}


/* Carrusel */

.texto-carrusel h3 {
    font-size: 20px;
    font-weight: 600;
    color: #86081D;
    margin-top: 4em;
}

.texto-carrusel p {
    color: #86081D;
}

.descargar-app {
    display: flex;
    justify-content: space-between;
}

.descargar-app img {
    width: 180px;
    height: 100%;
}

.carousel-control-next-icon {
    background-image: url(imagenes/png/arrow-derecha.png);
}

.carousel-control-prev-icon {
    background-image: url(imagenes/png/arrow-izquierda.png);
}

.botones-flechas {
    list-style: none;
}

/* Pastillas */


#pastillas figcaption h3 {
    font-size: 16px;
    font-weight: 600;
    color: #86081D;
}

#pastillas figcaption p {
    color: #86081D;
}

#pastillas {
    position: relative;
}


#preguntas-frecuentes h3 {
    font-size: 20px;
    font-weight: 600;
    color: #86081D;
    margin-bottom: 24px;
}

.accordion-header button {
    font-size: 16px;
    font-weight: 500;
    color: #86081D;
}

.accordion {
    --bs-accordion-border-color: #F5E3E0;
    --bs-accordion-border-radius: 20px;
}

.accordion-button:not(.collapsed) {
    color: #F5E3E0;
    background-color: #F43233;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 50, 51, 0.25);
}



/* Contacto */


form h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #86081D;
}

#boton input {
    background-color: #86081D;
    color: #FFFFFF;
    margin-top: 8px;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

#boton input:hover {
    background-color: #F43233;
}

.row {
    align-items: center;
}

.form-control:focus {
    border-color: #FFA1B5;
    box-shadow: 0 0 0 0.25rem rgba(244, 50, 51, 0.25);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(imagenes/svg/down-arrow.svg);
    background-size: cover;
}

/* Footer */

#footer {
    background-color: #F43233;
    color: #FDFAF3;
    display: flex;
    padding: 2em;
    margin-top: 3em;
    justify-content: space-between;
}

.columna-der p {
    margin-bottom: 12px;
}

.columna-izq ul {
    display: flex;
    column-gap: 16px;
}

.columna-izq li {
    list-style: none;
}

/* Tablet */
@media screen and (min-width: 1048px) and (max-width: 1440px){
    main {
        width: 95vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 1048px){

    main {
        width: 100vw;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #FFFFFF;
        font-weight: 600;
        background: url(imagenes/png/hover-funcionalidades.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;
    }
    

    .container-fluid {
        padding: 3rem 3rem;
    }

    header .container-fluid {
        padding: 0;
    }

    .navbar>.container-fluid {
        align-items: center;
    }
    

    #texto-banner {
        width: 100%;
        height: auto;
        color: #F5E3E0;
    }

    #texto-banner h2 {
        font-weight: 600;
        margin-bottom: 24px;
        font-size: 24px;
    }

    /* carrusel */

   

/* contacto */




}

/* Mobile */

@media screen and (max-width: 576px) {

main {
        width: 100vw;
    }


.container-fluid {
    padding: 2rem 0.8rem;
 }

 header .container-fluid {
    padding: 0;
}

#banner {
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 1400" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_325_1326)"><path d="M-20 -25H1456V573.29C1456 722.669 1319.84 758.041 1171.29 777.553C812.733 824.651 833.24 802.291 431.764 824.651C110.583 842.538 36.9397 984.019 -20 1053V-25Z" fill="%23F43233" stroke="%23FFA1B5" stroke-width="19"/></g><defs><clipPath id="clip0_325_1326"><rect width="1440" height="1068" fill="white"/></clipPath></defs></svg>') no-repeat left top;
    background-size: cover;
    overflow: visible;
}


body {
    font-size: 14px;
}



.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFFFFF;
    font-weight: 600;
    background: url(imagenes/png/hover-funcionalidades.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
}

.columnas-banner img {
    display: none;
}

#texto-banner {
    width: 100%;
    height: auto;
    margin-top: 24px;
}

#texto-banner h2 {
    font-size: 22px;
    margin-bottom: 16px;
}

nav ul {
    margin: 16px 0px;
}

#texto-banner a {
    margin-top: 40px;
    background-color: #86081D;
    color: #F5E3E0;
}

/* carrusel */

.texto-carrusel h3 {
    margin-top: 1em;
}

.carousel-caption {
    bottom: 3rem;
}


/* pastillas */



/* preguntas */


#preguntas-frecuentes h3 {
    font-size: 18px;
    font-weight: 600;
    color: #86081D;
    margin-bottom: 24px;
}

/* Formulario */

form h3 {
    font-size: 18px;
    font-weight: 600;
    color: #86081D;
    margin-bottom: 24px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #86081D;
}

.form-control {
    font-size: 14px;
    color: #86081D;
    border-color: rgba(244, 50, 51, 0.10);
}

#boton input {
    width: 100%;
}


/* footer */

footer {
    flex-direction: column-reverse;
    row-gap: 24px;
}

.columna-izq {
    justify-content: flex-end;
}



}